/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per QC module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'ARIMA_GET_STATS' {
        publishDir = [
            path: { "${params.outdir}/qc/arima/get_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BUSCO_BUSCO' {
        // errors may happen with conda
        errorStrategy = 'ignore'
        ext.prefix = { "${meta.id}-${lineage}" }
        publishDir = [
            path: { "${params.outdir}/qc/busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUAST' {
        // errors may happen with conda
        // errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/qc/quast" }
        ]
    }

    withName: 'MERQURY' {
        // errors may happen with conda
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/qc/merqury" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ASSEMBLY_STATS' {
        publishDir = [
            path: { "${params.outdir}/qc/assembly_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PRETEXTMAP' {
        ext.args = {
            [
                "--sortby length",
                "--sortorder descend",
                "--mapq 10"
            ].join(" ").trim()
        }
    }

    withName: 'PRETEXTSNAPSHOT' {
        ext.args = {
            [
                "--gridColour white",
                "--colourMap 8"
            ].join(" ").trim()
        }
        publishDir = [
            path: { "${params.outdir}/qc/pretextsnapshot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/qc/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
