/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    withName: 'BWAMEM2_MEM' {
        cpus   = 10
        memory = 15.GB
        time   = 1.h
        }

    withName: 'FGAP' {
        cpus   = 10
        memory = 15.GB
        time   = 1.h
    }

}

profiles {

    local {

        executor {

                cpus = 12
                memory = 20.GB
        }

    }

}
