profiles {

    local {



            withName: 'FLYE' {
                ext.args = {
                    [
                        "--debug",
                        "--nano-hq"
                    ].join(" ").trim()
                }
            }
        }

        params {
            outdir = "./results"
        }



    }

}
