profiles {

    local {

        process {

            resourceLimits = [
                cpus: 12,
                memory: '20GB',
                time: '4.h'
            ]

            withName: 'BWAMEM2_MEM' {
                cpus   = 2
                memory = 15.GB
                time   = 1.h
                }

            withName: 'BWAMEM2_INDEX' {
                cpus   = 2
                memory = 15.GB
                time   = 1.h
                }

            withName: 'FLYE' {
                ext.args = {
                    [
                        "--debug",
                        "--nano-hq"
                    ].join(" ").trim()
                }
            }
        }

        params {
            outdir = "./results"
        }

        executor {

                cpus = 12
                memory = 20.GB
        }

    }

}
